:root {
    --main-color: #FF902B;
    --second-color: #2F2105;

}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container .nav-and-landing {
    background-image: url(../images/bg-image.png);
    background-repeat: no-repeat;
}

.container .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block-start: 36px;
}

@media (max-width:772px) {
    .container .nav {
        flex-direction: column;
        text-align: center;
    }

}

.container .links-search {
    display: flex;
    align-items: center;
}

.container .links-search .nav-links {
    margin-inline-end: 110px;
}

.container .links-search .nav-links a {
    text-decoration: none;
    color: var(--second-color);
    font-weight: 400;
    font-size: 18px;
    margin-inline-end: 32px;
}

.container .links-search .nav-links a:first-of-type {
    color: var(--main-color);
}

@media (max-width:772px) {
    .container .links-search {
        flex-direction: column;
    }

    .container .links-search .nav-links {
        margin-inline-end: 0px;
        margin-block: 20px;

    }

    .container .links-search .nav-links a {
        font-size: 14px;
    }

}

.container .links-search .search-box {
    width: 222px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 35px;
    display: flex;
    align-items: center;
}

.container .links-search .search-box img {
    margin-inline-start: 12px;
}

.container .links-search .search-box span {
    opacity: .5;
    margin-inline-start: 15px;
}

.container .links-search .shopping-cart-icon {
    margin-inline-start: 30px;
}

@media (max-width:772px) {
    .container .links-search .shopping-cart-icon {
        display: none;
    }

}

.container .landing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block-start: 110px;
}

@media (max-width:772px) {
    .container .landing {
        flex-direction: column-reverse;
        margin-block-start: 50px;
    }

}

.container .landing .heading {
    max-width: 489px;
}

.container .landing .heading h1 {
    font-size: 48px;
    line-height: 72px;
    font-weight: 600;
}

.container .landing .heading h1>span {
    color: var(--main-color);
}

.container .landing .heading p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    max-width: 393px;
    color: #7E7D7A;
}

@media (max-width:772px) {
    .container .landing .heading {
        max-width: 300px;
    }

    .container .landing .heading h1 {
        font-size: 36px;
    }

}

.container .landing .heading .order-and-menu {
    display: flex;
    align-items: center;
}

.container .landing .heading .order-and-menu .order {
    background-color: var(--second-color);
    color: #FFFFFF;
    width: 170px;
    height: 46px;
    border-radius: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .landing .heading .order-and-menu .order img {
    width: 24px;
    margin-inline-start: 10px;
}

.container .landing .heading .order-and-menu .menu a {
    text-decoration: none;
    color: #F4AE26;
    ;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    margin-inline-start: 50px;
}

.container .landing .background-image img {
    width: 526.71px;

}

@media (max-width:772px) {
    .container .landing .background-image img {
        width: 350px;
    }

}

.container .products-section .subhead {
    margin-block-start: 95px;
    margin-block-end: 105px;
    margin-inline-start: 128px;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: var(--second-color);
    position: relative;
}

.container .products-section .underline {
    width: 74px;
    height: 4px;
    background: var(--main-color);
    border-radius: 12px;
    position: absolute;
    bottom: 0px;
    left: 130px;
}

.container .products-section .products {
    display: flex;
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    margin-block-start: 66px;
    background-position: bottom;
    justify-content: space-evenly;
}

@media (max-width:772px) {
    .container .products-section .products {
        flex-direction: column;
        background-image: none;
    }

}

.container .products-section .product {
    position: relative;
    top: -75px;
    width: 355px;
    height: 385px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);
    backdrop-filter: blur(4px);
    border-radius: 12px;
}

.container .products-section .border {
    background-color: #FFFFFF;
    width: 343px;
    height: 373px;
    margin: auto;
    border-radius: 12px;
    margin-block-start: 6px;
}

.container .products-section .border .image-product {
    margin: 24px 18px 0px 18px;
}

.container .products-section .border .rate-box {
    position: absolute;
    top: 31px;
    left: 28px;
}

.container .products-section .border .info-name {
    display: flex;
    justify-content: space-between;
    margin-inline: 30px;
    letter-spacing: 0.04em;
    line-height: 36px;
    height: 36px;
    margin-block: 15px;
    align-items: center;
    font-size: 24px;
    color: var(--second-color);
}

.container .products-section .border .info-name .name {
    font-weight: 600;

}

.container .products-section .border .info-name .qun {
    font-weight: 700;
}

.container .products-section .border .info-type {
    display: flex;
    justify-content: space-between;
    margin-inline: 30px;
}

.container .products-section .border .info-type .type {
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    font-size: 16px;
    width: 150px;
}

.container .products-section .border .info-type .type .cold,
.container .products-section .border .info-type .type .hot:not(.active) {
    border: 2px solid #FFD28F;
    border-radius: 8px;
    color: #FFD28F;
    height: 24px;
    width: 40px;
    padding: 5px 10px;
    text-align: center;

}

.container .products-section .border .info-type .type .active {
    color: #FF912B;
    border: 2px solid #FF912B;
    height: 24px;
    width: 40px;
    padding: 5px 10px;
    border-radius: 8px;
    text-align: center;
}

.container .delivery-service {
    margin-inline: 135px;
    letter-spacing: .04em;
}

@media (max-width:772px) {
    .container .delivery-service {
        margin-inline: 50px;
    }

}

.container .delivery-service .subhead {
    color: var(--second-color);
    position: relative;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin-block-start: 120px;
}

.container .delivery-service .underline {
    width: 120px;
    height: 4px;
    background: var(--main-color);
    border-radius: 12px;
    position: absolute;
    bottom: 0px;
    left: 335px;
}

@media (max-width:772px) {
    .container .delivery-service .subhead {
        font-size: 28px;
    }

    .container .delivery-service .underline {
        left: -7px;
        width: 110px;
    }

}

.container .steps {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    text-align: center;
}

@media (max-width:772px) {
    .container .steps {
        flex-direction: column;
    }

    .container .steps .step {
        width: 280px;
    }
}

.container .delivery-service .steps .tap-image {
    margin-inline-start: -65px;
    margin-block-end: -22px;
}

.container .delivery-service .step .order {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--second-color);
}

.container .delivery-service .step .des-order {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2F2105;
}

.container .about-us {
    background: url(../images/Exclude.png), #F7EBDA;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block-start: 200px;

}

.container .about-us .border {
    width: 370.21px;
    height: 509.22px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
    border-radius: 12px;
    margin-block-start: -82.2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:772px) {
    .container .about-us {
        flex-direction: column-reverse;

    }

    .container .about-us .border {
        flex-direction: column;
    }

    .container .about-us .border {
        margin-block-start: 50px;
    }
}

.container .about-us .content-about {
    width: 370px
}

.container .about-us .content-about .subhead {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: var(--second-color);
    position: relative;
}

.container .about-us .content-about .underline {
    width: 40px;
    height: 4px;
    background: var(--main-color);
    border-radius: 12px;
    position: absolute;
    bottom: 0px;
    left: 103px;
}

.container .about-us .content-about .description {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.container .about-us .content-about .sub-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #7E7D7A;
}

.container .about-us .content-about input[type=button] {
    width: 142px;
    height: 38px;
    background: #2F2105;
    border-radius: 33px;
    color: #F4AE26;
    cursor: pointer;
    border: none;
}

.container .menu-container {
    margin-block-start: 120px;
}

.container .menu-container .subhead {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    position: relative;
    margin-inline-start: 127px;
}

.container .menu-container .underline {
    width: 115px;
    height: 4px;
    background: var(--main-color);
    border-radius: 12px;
    position: absolute;
    bottom: 0px;
    left: 230px;
}

@media (max-width:772px) {
    .container .menu-container .subhead {
        font-size: 26px;
        margin-inline: 35px;
    }

    .container .menu-container .underline {
        left: 187px;
        width: 95px;
    }
}

.container .Menu {
    display: grid;
    grid-template-columns: repeat(3, 343px);
    grid-template-rows: repeat(2, 373px);
    gap: 40px;
    justify-content: center;
}

@media (max-width:771px) {
    .container .Menu {
        grid-template-columns: repeat(1, 320px);
        grid-template-rows: repeat(6, 385px);

    }

}

@media (min-width:772px) and (max-width:991px) {
    .container .Menu {
        grid-template-columns: repeat(2, 320px);
        grid-template-rows: repeat(3, 385px);
        gap: 30px;
    }

}

.container .Menu .dish {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);
    backdrop-filter: blur(4px);
    width: 356px;
    height: 385px;
    border-radius: 12px;
}

.container .Menu .border {
    position: relative;
    background: #FFFFFF;
    border-radius: 12px;
    width: 343.97px;
    height: 373px;
    margin: auto;

}

.container .Menu .border .dish-image {
    margin: 19px 9px 0px 9px;
}

.container .Menu .border .rate-icon {
    position: absolute;
    top: 26px;
    left: 16px;
}

.container .Menu .border .info-name {
    display: flex;
    justify-content: space-between;
    margin-inline: 30px;
    letter-spacing: 0.04em;
    line-height: 36px;
    height: 36px;
    margin-block: 15px;
    align-items: center;
    font-size: 24px;
    color: #2F2105;
    ;
}

.container .Menu .border .info-name .name {
    font-weight: 600;

}

.container .Menu .border .info-name .qun {
    font-weight: 700;
}

.container .Menu .border .info-type {
    display: flex;
    justify-content: space-between;
    margin-inline: 30px;
    align-items: center;
}

.container .Menu .border .info-type .type {
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    font-size: 14px;
    width: 150px;
    line-height: 21px;
    color: #7E7D7A;
    ;
}

.container .feedback {
    display: flex;
    margin-block-start: 120px;

}

.container .feedback .head-and-des {
    background: url(../images/Exclude.png), #F7EBDA;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    width: 945px;
    height: 484px;

}

.container .feedback .head-and-des .heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin-block-start: 170px;
    margin-inline-start: 85px;
    width: 414px;
    letter-spacing: 0.04em;

}

.container .feedback .head-and-des .description {
    font-weight: 400;
    font-size: 18px;
    width: 352px;
    line-height: 27px;
    margin-inline-start: 85px;
    color: #7E7D7A;
}

@media (max-width:772px) {
    .container .feedback {
        display: block;
    }

    .container .feedback .head-and-des {
        width: 100%;
        height: 250px;

    }

    .container .feedback .head-and-des .heading {
        margin-inline-start: 10px;
        font-size: 26px;
    }

    .container .feedback .head-and-des .description {
        font-size: 16px;
        margin-inline-start: 10px;
    }

}

.container .feedback .people-feedback {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 852px;
    margin-inline-start: -380px;
    gap: 55px;
    overflow: hidden;
}

@media (max-width:771px) {
    .container .feedback .people-feedback {
        display: block;
        margin-block-start: 30px;
        margin-inline-start: 0px;

    }
}

@media (min-width:772px)and (max-width:1024px) {
    .container .feedback {
        display: block;
    }

    .container .feedback .people-feedback {
        margin-inline-start: 135px;
    }

}

.container .feedback .people-feedback .person {
    position: relative;
}

.container .feedback .people-feedback .msg-feedback {
    position: absolute;
    bottom: 32px;
    right: -35px;
    width: 206.5px;
    height: 86.23px;
    background: #FFCB7C;
    border: 6px solid rgba(255, 211, 145, 0.62);
    border-radius: 8px;
    color: #2F2105;

}

@media (max-width:772px) {
    .container .feedback .people-feedback .msg-feedback {
        left: 80px;
    }

}

.container .feedback .people-feedback .msg-feedback .name {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-inline-start: 12px;
    margin-block: 8px 0px;

}

.container .feedback .people-feedback .msg-feedback .msg {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-block: auto;
    margin-inline-start: 12px;
}

.container .newsletter {
    background: url(../images/unsplash_ftA71vetxuo.png);
    background-repeat: no-repeat;
    letter-spacing: 0.04em;
    height: 392px;
    margin-block-start: 120px;
    background-position: center;
    display: grid;
    grid-template-rows: repeat(2, 125px);
    align-content: center;

}

@media (max-width:772px) {
    .container .newsletter {
        background-size: cover;
        text-align: center;

    }

}

.container .newsletter .heading {
    letter-spacing: 0.04em;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;

}

@media (max-width:772px) {
    .container .newsletter .heading {
        font-size: 26px;
        width: fit-content;
    }

}

.container .newsletter form {
    text-align: center;
}

.container .newsletter input[type=email] {
    width: 486px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 42px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-inline-start: 25px;
    color: #7E7D7A;
}

.container .newsletter input[type=submit] {
    width: 130px;
    height: 44px;
    background: #2F2105;
    box-shadow: 0px 4px 32px rgba(223, 195, 124, 0.25);
    border-radius: 33px;
    border: none;
    margin-inline-start: -140px;
    color: #FFFFFF;
}

@media (max-width:772px) {
    .container .newsletter input[type=email] {
        width: 250px;
    }

}