:root{
    --main-color: #FF902B ;
    --second-color:#2F2105 ;

}
body{
    font-family: 'Poppins', sans-serif;

}
.container .nav-and-landing{
    background: #F7EBDA;;
}
.container .nav {
    display:  flex;
    justify-content: space-around;
    align-items: center;
}
.container .nav .cup{
    width: 50px;
}
.container .nav .word{
    width: 90px;
}
.container .links-search{
    display: flex;
    align-items:center;
}
.container .links-search .nav-links{
    margin-inline-end: 110px;
}
.container .links-search .nav-links a{
    text-decoration: none;
    color: var(--second-color);
    font-weight: 400;
    font-size: 18px;
    margin-inline-end: 32px;
}
.container .links-search .nav-links a:first-of-type{
    color: var(--main-color);
}

.container .links-search .search-box{
    width: 222px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 35px;
    display: flex;
    align-items: center;
}
.container .links-search .search-box img{
   margin-inline-start: 12px;
}
.container .links-search .search-box span{
    opacity: .5;
    margin-inline-start: 15px;
}
.container .links-search .shopping-cart-icon{
    margin-inline-start: 30px;
}
.container .landing{
    display: flex;
}
.container .landing .background-image img{
    width: 526.71px;
    height: 416px;
}